$gold: #cb9700;

.page-footer {
  padding: 2rem;
  .address {
    color: #666;
    font-size: .75rem;
  }
  .email {
    font-size: .75rem;
  }
  .socialmedia {
    color: #333;
    &:hover {
      color: $gold;
      background: none;
    }
  }
}
