$gold: #016972;

.page-footer {
  padding: 2rem;
  background: #f5f5f5;
  text-align: center;
  .address {
    color: #666;
    font-size: .75rem;
  }
  .email {
    font-size: .75rem;
  }
  .socialmedia {
    color: #333;
    &:hover {
      color: $gold;
      background: none;
    }
  }
}
