<div class="page-footer">
    <div class="page-footer__inner">
        <div class="page-footer__inner--left">
            <p>
              Instituut Valkenborgh<br>
              <span class="address">Straat 125<br>3540 Herk-de-Stad<br>T. 00000000<br></span>
              <a class="email" href="mailto:info@instituutvalkenborgh.be">info@instituutvalkenborgh.be</a>
            </p>
        </div>
        <div class="page-footer__inner--right">
            <a class="socialmedia" target="_blank" href="http://facebook.com"><span class="material-icons">facebook</span></a>
            <a class="socialmedia" target="_blank" href="http://instagram.com"><span class="material-icons">photo_camera</span></a>
        </div>
    </div>
</div>
