<div class="page-footer">
    <div class="page-footer__inner">
        <div class="page-footer__inner--left">
            <p>Instituut Valkenborgh  |  Straat 125  |  3540 Herk-de-Stad  |  T. 00000000</p>
            <p><a href="mailto:info@instituutvalkenborgh.be">info@instituutvalkenborgh.be</a></p>
        </div>
        <div class="page-footer__inner--right">
            <a target="_blank" href="http://facebook.com"><span class="material-icons">facebook</span></a>
            <a target="_blank" href="http://instagram.com"><span class="material-icons">photo_camera</span></a>
        </div>
    </div>
</div>
