<div class="page-footer">
    <div class="page-footer__inner">
        <div class="page-footer__inner--left">
            <p>
                Jeugdvoetbal Groot Herk (JVGH)<br>
              <span class="address">Manestraat 82 bus 2<br>3540 Herk-de-Stad<br>T. 0498 560 185<br></span>
              <a class="email" href="mailto:secretaris@jeugdherk.be">secretaris@jeugdherk.be</a>
            </p>
        </div>
        <div class="page-footer__inner--right">
            <a class="socialmedia" target="_blank" href="http://facebook.com"><span class="material-icons">facebook</span></a>
            <a class="socialmedia" target="_blank" href="http://instagram.com"><span class="material-icons">photo_camera</span></a>
        </div>
    </div>
</div>
