.team {
  &__detail {
    display: flex;
    .left {
      margin-top: 1.5rem;
    }
    .right {
      padding-left: 2rem;
      margin-left: 2rem;
      border-left: 1px solid #bbb;
    }
    .label {
      font-size: .75rem;
      background-color: orangered;
      color: #fff;
      padding: 0 0.25rem;
      display: inline-block;
    }
    .meta {
      margin-bottom: .25rem;
      white-space: nowrap;
    }
  }
}
