.events-list {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    margin-left: 10rem;
    padding-left: 2rem;
    padding-top: 1rem;
    border-left: 1px solid #bbb;
    > * {
        margin: 0 0 2rem;
    }
}
