<ng-container *ngIf="categories$ | async as categories">
  <div class="page-content page-content--fixed">
    <h1>Behandelingen</h1>
    <div class="treatment-list-per-category">
      <div class="treatment-list-per-category__category" *ngFor="let cat of categories" [routerLink]="'/categories/' + cat.slug">
        <div class="treatment-list-per-category__category__header">
          <img class="treatment-list-per-category__category__header__image" [src]="catImageUrl(cat.image.url)">
          <h3 class="treatment-list-per-category__category__header__name">{{cat.name}}</h3>
        </div>
        <div class="treatment-list-per-category__category__body">
          <!-- oplijsting behandelingen -->
          <ul>
            <li *ngFor="let treatment of cat.treatments">
              <a [routerLink]="'/behandelingen/' + treatment.slug">{{treatment.title}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-container>
