<ng-container *ngIf="treatments$ | async as treatments">
    <div class="page-content page-content--fixed">
      <h1>Behandelingen</h1>
      <div class="categories-menu">
        <button mat-button routerLink="/behandelingen">All</button>
        <button mat-button *ngFor="let cat of categories$ | async" [routerLink]="'/categories/' + cat.id">{{cat.name}}</button>
      </div>
      <div class="treatments card-container">
        <mat-card class="card" *ngFor="let item of treatments" [routerLink]="'/behandelingen/' + item.id">
          <mat-card-header>
            <mat-card-title>{{item.title}}</mat-card-title>
            <mat-card-subtitle><span *ngFor="let cat of item.categories">{{ cat.name }}, </span></mat-card-subtitle>
          </mat-card-header>
          <img class="card__image" mat-card-image [src]="'http://localhost:1337' + item.images[0].url">
          <mat-card-content>
            <p>
              {{item.description}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </ng-container>