<ng-container *ngIf="page$ | async as page">
  <div class="page-header">
      <img [src]="articleDetailImgUrl(page.Images[0].url)">
  </div>
  <div class="page-content page-content--fixed">
      <div class="treatment__detail__title">
        <h1>{{page.Title}}</h1>
        <div class="treatment__detail__title__meta">
          <div class="treatment__detail__title__meta__categories">
            <a *ngFor="let item of page.categories" [routerLink]="'/categorie/' + item.slug" class="treatment__detail__title__meta__categories__item">{{item.name}}</a>
          </div>
        </div>
      </div>
      <p [innerHTML]="page.Text|MarkdownToHtml"></p>
  </div>
</ng-container>
