<ng-container *ngIf="page$ | async as page">
  <div class="page-header">
      <img [src]="catImageUrl(page.image.url)">
  </div>
  <div class="page-content page-content--fixed">
    <h1>{{page.name}}</h1>
    <div class="treatments card-container">
      <mat-card class="card" *ngFor="let item of page.treatments" [routerLink]="'/behandelingen/' + item.slug">
        <mat-card-header>
          <mat-card-title>{{item.title}}</mat-card-title>
        </mat-card-header>
        <img class="card__image" mat-card-image [src]="catImageUrl(item.images[0].url)">
      </mat-card>
    </div>
  </div>
</ng-container>
