<ng-container *ngIf="page$ | async as page">
  <div class="page-header">
      <img *ngIf="page.image.url" [src]="catImageUrl(page.image?.url)">
  </div>
  <div class="page-content page-content--fixed">
    <h1>{{page.name}}</h1>
    <div class="articles card-container">
      <mat-card class="card" *ngFor="let item of page.articles" [routerLink]="'/nieuws/' + item.Slug">
        <mat-card-header>
          <mat-card-title>{{item.Title}}</mat-card-title>
        </mat-card-header>
        <img class="card__image" mat-card-image [src]="catImageUrl(item.Images[0].url)">
      </mat-card>
    </div>
    <div class="events card-container">
      <mat-card class="card" *ngFor="let item of page.events" [routerLink]="'/nieuws/' + item.slug">
        <mat-card-header>
          <mat-card-title>{{item.title}}</mat-card-title>
        </mat-card-header>
        <img class="card__image" mat-card-image [src]="catImageUrl(item.images[0].url)">
      </mat-card>
    </div>
  </div>
</ng-container>
