.inline-calendar-card {
  width: 18.75rem;
}

.mat-calendar-body-today {
  border-color: red;
}

.teaser-block {
  .top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bbb;
    margin-bottom: 1rem;
  }
}

// events
.teaser-events {
  padding: 3rem 0;
  .top {
    margin-bottom: 0;
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    margin-left: 8.5rem;
    padding-left: 2rem;
    padding-top: 1rem;
    border-left: 1px solid #bbb;
    > * {
      margin-bottom: 1rem;
    }
    @media screen and (max-width: 700px) {
      margin-left: 0;
      padding-left: 0;
      padding-top: 1rem;
      border-left: 0;
    }
  }
}

// teams
.teaser-teams {
  padding: 3rem 0;
  &__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    > * {
      width: calc(20% - .5rem);
      margin-bottom: 1rem;
      @media screen and (max-width: 1023px) {
        width: calc(33% - .5rem);
      }
      @media screen and (max-width: 700px) {
        width: calc(50% - .5rem);
      }
    }
  }
}

// articles
.teaser-articles {
  padding: 3rem 0;
  &__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    > * {
      width: calc(50% - .5rem);
      margin-bottom: 1rem;
      @media screen and (max-width: 700px) {
        width: 100%;
      }
    }
  }
}

.body {
  display: flex;
  align-items: flex-start;
  &__infoblock {
    padding: 1rem 1.5rem;
    background-color: #f4f4f4;
    margin-top: 1rem;
    margin-left: 2rem;
    h2 {
      margin: 0;
    }
  }
  @media screen and (max-width: 700px) {
    flex-flow: column nowrap;
    &__infoblock {
      margin-top: 2rem;
      margin-left: 0;
    }
  }
}
