.inline-calendar-card {
  width: 18.75rem;
}

.mat-calendar-body-today {
  border-color: red;
}

// events
.teaser-events {
  padding: 3rem 0;
  &__content {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    margin-left: 10rem;
    padding-left: 2rem;
    padding-top: 1rem;
    border-left: 1px solid #bbb;
    > * {
      margin-bottom: 1rem;
    }
  }
}

.teaser-block {
  .top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bbb;
    margin-bottom: 1rem;
  }
}

// teams
.teaser-teams {
  padding: 3rem 0;
  &__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    > * {
      width: calc(20% - .5rem);
      margin-bottom: .5rem;
    }
  }
}

// articles
.teaser-articles {
  padding: 3rem 0;
  &__content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    > * {
      width: calc(50% - .5rem);
      margin-bottom: .25rem;
    }
  }
}

// sponsors
.teaser-sponsors {
  padding: 3rem 0;
  &__content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    > * {
      width: calc(20% - 1rem);
      margin-bottom: 2rem;
    }
  }
}

.body {
  display: flex;
  align-items: flex-start;
  &__infoblock {
    padding: 1rem 1.5rem;
    background-color: #fff;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    margin-top: 1rem;
    margin-left: 2rem;
    border-radius: 1rem;
    h2 {
      margin: 0;
    }
  }
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.spinnerbox {
  position: fixed;
  left: 15rem;
  top: 0;
  width: calc(100% - 15rem);
  height: 100%;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
  width: 10rem;
  height: auto;
}
