.inline-calendar-card {
  width: 18.75rem;
}

.mat-calendar-body-today {
  border-color: red;
}

// events
.teaser-events {
  &__content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    > * {
      width: 32%;
    }
  }
}