<ng-container *ngIf="homepage$ | async as homepage; else loader">
  <div class="page-header" *ngIf="homepage.images">
    <img class="homepage-banner" [src]="homepage.images[0].url" />
  </div>
  <div class="page-content page-content--fixed">
    <div class="body">
      <div class="body__main">
        <h1>{{ homepage.Title }}</h1>
        <div markdown [data]="homepage.body"></div>
        <button class="cta big" routerLink="/club">Maak kennis met onze club</button>
      </div>
      <div class="body__infoblock" *ngIf="infoBlock$ | async as infoblock">
        <h2>{{infoblock.title}}</h2>
        <div markdown [data]="infoblock.text"></div>
      </div>
    </div>
    <div class="teasers">
      <div class="teaser-block teaser-teams" *ngIf="teams$ | async as teams">
        <div class="top">
          <h2 class="teaser-teams__title">Onze ploegen</h2>
          <button class="cta" routerLink="/ploegen">Alle ploegen</button>
        </div>
        <div class="teaser-teams__content">
          <app-team-teaser
          *ngFor="let item of teams"
          [item]="item"
          ></app-team-teaser>
        </div>

      </div>
      <div class="teaser-block teaser-events" *ngIf="events$ | async as events">
        <div class="top">
          <h2 class="teaser-events__title">Volgende evenementen</h2>
          <button class="cta teaser-events__link" routerLink="/evenementen">Meer evenementen</button>
        </div>
        <div class="teaser-events__content">
          <app-event-teaser
            *ngFor="let item of events | slice:0:3"
            [item]="item"
          ></app-event-teaser>
        </div>
      </div>
      <div class="teaser-block teaser-articles" *ngIf="articles$ | async as articles">
        <div class="top">
          <h2>Recent nieuws</h2>
          <button class="cta" routerLink="/nieuws">Meer nieuws</button>
        </div>
        <div class="teaser-articles__content">
          <app-article-teaser
            *ngFor="let item of articles | slice:0:2"
            [item]="item"
          ></app-article-teaser>
        </div>
      </div>
      <div class="teaser-block teaser-sponsors" *ngIf="sponsors$ | async as sponsors">
        <div class="top">
          <h2>Onze sponsors</h2>
          <!-- <button class="cta" routerLink="/sponsors">Alle sponsors</button> -->
        </div>
        <div class="teaser-sponsors__content">
          <app-sponsor-teaser
            *ngFor="let item of sponsors"
            [item]="item"
          ></app-sponsor-teaser>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #loader>
  <div class="spinnerbox"><svg class="spinner" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#666"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.55 5.55L11 1v3.07C7.06 4.56 4 7.92 4 12s3.05 7.44 7 7.93v-2.02c-2.84-.48-5-2.94-5-5.91s2.16-5.43 5-5.91V10l4.55-4.45zM19.93 11c-.17-1.39-.72-2.73-1.62-3.89l-1.42 1.42c.54.75.88 1.6 1.02 2.47h2.02zM13 17.9v2.02c1.39-.17 2.74-.71 3.9-1.61l-1.44-1.44c-.75.54-1.59.89-2.46 1.03zm3.89-2.42l1.42 1.41c.9-1.16 1.45-2.5 1.62-3.89h-2.02c-.14.87-.48 1.72-1.02 2.48z"/></svg></div>
</ng-template>
