$sidebar-width: 15rem;

.app-container {
    .app-sidebar {
        width: $sidebar-width;
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        opacity: 1;
        transition: .25s all ease;
        background: #fbfcfa;
        box-shadow: 0 0 20px rgb(0 0 0 / 30%);
        z-index: 5;
        @media screen and (max-width: 1023px) {
          width: 0;
          opacity: 0;
          z-index: -1;
        }
        &.open {
          width: $sidebar-width;
          opacity: 1;
          z-index: 5;
        }
        &__social {
          padding: 1.5rem 2rem;
          position: relative;
          z-index: 5;
          a {
            display: inline-block;
            margin-right: 0.25rem;
            &:hover {
              background-color: transparent;
              color: #444;
            }
          }
        }
    }
    .app-content {
        background-color: #fff;//#f7f7f7;
        min-height: 100vh;
        width: calc(100% - $sidebar-width);
        margin-left: $sidebar-width;
        transition: .25s all ease;
        .mobile-header {
          display: none;
        }
        @media screen and (max-width: 1023px) {
          width: 100%;
          margin-left: 0;
          padding-top: 3rem;
          .mobile-header {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 1rem;
            background: #fff;
            box-shadow: 0 0 1rem rgb(0 0 0 / 30%);
            width: calc(100% - 2rem);
            position: fixed;
            height: 2rem;
            z-index: 2;
            top: 0;
            left: 0;
            .left > div {
              display: flex;
              align-items: center;
              cursor: pointer;
              img {
                width: 2rem;
                margin-right: 1rem;
              }
            }
            .right {
              display: flex;
              button {
                background: none;
                border: 0;
              }
              svg {
                height: 1rem;
                display: block;
              }
            }
            a {
              text-decoration: none;
            }
          }
        }
    }
}
