<div class="app-container">
  <div class="app-sidebar" [class.open]="showMobileSidebar$ | async">
    <app-toolbar></app-toolbar>
    <div class="app-sidebar__social">
      <a class="socialmedia" target="_blank" href="http://facebook.com"><span class="material-icons">facebook</span></a>
      <a class="socialmedia" target="_blank" href="http://instagram.com"><span class="material-icons">photo_camera</span></a>
  </div>
  </div>
  <div class="app-content">
    <button *ngIf="!(showMobileSidebar$ | async)" class="btn sidebar-button" (click)="openMobileSidebar()">open</button>
    <button *ngIf="showMobileSidebar$ | async" class="btn sidebar-button" (click)="closeMobileSidebar()">close</button>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</div>
