.main {
  display: flex;
  .left {
    margin-right: 2rem;
    min-width: 10rem;
    .submenu a {
      display: block;
      padding: 0.5rem;
      border-top: 1px solid #ddd;
      &:last-child {
        border-bottom: 1px solid #ddd;
      }
    }
  }
  .right {
    padding-left: 2rem;
    border-left: 1px solid #ddd;
  }
}
