<ng-container *ngIf="page$ | async as page; else loader">
  <div class="page-content page-content--fixed">
    <img class="top-pic" [src]="page.images[0].url">
      <div class="treatment__detail__title">
        <h1>{{page.title}}</h1>
      </div>
      <div markdown [data]="page.text"></div>
      <div class="downloads" *ngIf="page.downloadfiles">
        <div class="download" *ngFor="let download of page.downloadfiles">
          <a [href]="download.url"><span class="material-icons">download</span> {{download.name}}</a>
        </div>
      </div>
  </div>
</ng-container>
<ng-template #loader>
  <app-page-loader></app-page-loader>
</ng-template>
