<ng-container *ngIf="page$ | async as page">
  <div class="page-content page-content--fixed">
    <img
      class="main-image"
      [src]="'http://localhost:1337' + page.images[0].url"
    />
    <div class="treatment__detail__title">
      <h1>{{page.title}}</h1>
      <div class="treatment__detail__title__meta">
        <div class="treatment__detail__title__meta__categories">
          <a *ngFor="let item of page.categories" [routerLink]="'/categorie/' + item.slug" class="treatment__detail__title__meta__categories__item">{{item.name}}</a>
        </div>
      </div>
    </div>
    <p [innerHTML]="page.text|MarkdownToHtml"></p>
  </div>
</ng-container>
