.page-content {
  &__main {
    display: flex;
    .left {
      margin-right: 2rem;
    }
    .right {
      padding-left: 2rem;
      margin-left: 2rem;
      border-left: 1px solid #bbb;
    }
  }
}
