.treatment {
  &__detail {
    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__meta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__categories {
          margin-right: 2rem;
          &__item {
            margin-left: .75rem;
          }
        }
      }
    }
  }
  &__price {
    border: 1px solid #016972;
    border-radius: 2rem;
    border-bottom-left-radius: 0;
    padding: .25rem 1rem;
    font-size: 1.3rem;
  }
}
