<div class="startdate-label" [routerLink]="'/evenementen/' + item.slug">{{item.startdate | date: 'dd MMM yyyy'}}</div>
<div class="card teaser-event" [routerLink]="'/evenementen/' + item.slug">
  <div class="card-body card-body--split">
    <img
      class="main-image"
      [src]="item.images[0].url"
    />
    <div class="body">
      <h2>{{ item.title }}</h2>
      <div class="dates">
        <div class="startdate">{{item.startdate | date: 'dd/MM/yyyy - HH:mm'}}u</div>
      </div>
      <div [innerHTML]="(item.text | slice:0:150) + '...'"></div>
    </div>
  </div>
</div>
