:host {
  position: relative;
}

.startdate-label {
  position: absolute;
  white-space: nowrap;
  background: orangered;
  padding: .25rem .5rem;
  color: #fff;
  margin-top: 1.5rem;
  right: calc(100% + 4rem);
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    border: 0.5rem solid transparent;
    border-left-color: orangered;
    left: 100%;
    top: calc(50% - 0.5rem);
  }
  &:after {
    content: '';
    position: absolute;
    background-color: orangered;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    left: calc(100% + 1.5rem);
    top: calc(50% - 0.5rem);
  }
}

.teaser-event {
  cursor: pointer;
  .card-body {
    display: flex;
    align-items: flex-start;
    > img {
      width: 50%;
      margin-right: 1rem;
    }
    > .body {
      .dates {
        display: flex;
        color: #888;
        font-size: .75rem;
        margin-bottom: 1rem;
        .startdate {
          margin-right: 1rem;
        }
      }
    }
  }
}
