/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1, h2, h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
}

h3 {
  color: #cb9700;
}

.logo {
  svg {
    path {
      &.valkenborgh {
        fill: #231f20;
      }
      &.instituut {
        fill: #cb9700;
      }
    }
  }
}

.page-header {
  position: relative;
  display: flex;
  align-items: center;
  .logo {
    position: absolute;
    left: 10vw;
    z-index: 1;
    width: 40vw;
  }
  img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    &.homepage-banner {
      height: 40rem;
    }
  }
}
.page-content {
  padding: 2rem;
  &--fixed {
    max-width: 60rem;
    margin: 0 auto;
  }
}


//treatments
.treatments {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 2rem;
  .card {
    border: 1px solid #cacaca;
    border-radius: .25rem;
    max-width: 28%;
    margin-bottom: 0;
    padding: 1rem;
    cursor: pointer;
    &__image {
      width: calc(100% + 2rem);
      height: 10rem;
      object-fit: cover;
    }
  }
}

.categories-menu {
  margin-bottom: 2rem;
}
